{{ define "main" }}
<article class="pa3 pa4-ns nested-copy-line-height">
  <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
    {{ .Content }}
  </section>
  
  <section class="flex-ns flex-wrap justify-around mt5">
    <div class="pa4 w-100 w-50-ns">
      <form action="https://formspree.io/f/your-id-here" method="POST" class="black-80">
        <div class="measure">
          <label for="name" class="f6 b db mb2">Full Name</label>
          <input id="name" name="name" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" required>
          
          <label for="email" class="f6 b db mb2">Email Address</label>
          <input id="email" name="email" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="email" required>
          
          <label for="service" class="f6 b db mb2">Service Required</label>
          <select id="service" name="service" class="input-reset ba b--black-20 pa2 mb2 db w-100">
            <option>Armed Security</option>
            <option>Unarmed Security</option>
            <option>Construction/Industrial</option>
            <option>Event Security</option>
          </select>

          <label for="message" class="f6 b db mb2">Message</label>
          <textarea id="message" name="message" class="db border-box hover-black w-100 ba b--black-20 pa2 br2 mb2" required></textarea>
          
          <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Send Request">
        </div>
      </form>
    </div>
  </section>
</article>
{{ end }}