.vh-100 {
    min-height: 40vh !important; 
    max-height: 500px;           
}

.cover {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important; 
    background-color: #000000 !important;
}

@media screen and (max-width: 30em) {
    .vh-100 {
        min-height: 30vh !important;
    }
}