<footer class="bg-black bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
    <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
      &copy; {{ now.Format "2006" }} {{ .Site.Title }}
    </a>
    <div class="pv2 ph3">
      <span class="white-70 mr3">Call Us: **405-623-1757**</span>
      <a href="/contact/" class="ba b--white pa2 link white hover-bg-white hover-black">FREE QUOTE</a>
    </div>
    <div class="dn-l db fixed bottom-0 w-100 bg-black tc pv3">
    <a href="tel:405-623-1757" class="white fw6 ttu tracked link">
        🚨 Click to Call Ryan: 405-623-1757
      </a>
    </div>
    <div>
      <p class="f6 white-70">
        Serving: Tulsa | Pryor | Broken Arrow | Owasso | Claremore | Catoosa | Inola | Chouteau
      </p>
    </div>
  </div>
</footer>